<div class="row principal">
    <div class="col-lg-8 user">
        <h1>Nuevo Usuario</h1>
            <div class="row">
                <div class="col-lg-6 mb-3 mt-3">
                    <label for="user" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu Nombre" name="user">
                </div>
                <div class="col-lg-6 mb-3 mt-3">
                    <label for="user" class="form-label">Apellidos</label>
                    <input type="text" class="form-control"  placeholder="Ingresa tus Apellidos" name="user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3 mt-3">
                    <label for="user" class="form-label">Usuario</label>
                    <input type="password" class="form-control"  placeholder="Ingresa tu usuario" name="user">
                </div>
                   <div class="col-lg-6 mb-3 mt-3">
                    <label for="user" class="form-label">Repetir Usuario</label>
                    <input type="password" class="form-control"  placeholder="Repite tu usuario" name="user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label">Contraseña</label>
                    <input type="password" class="form-control"  placeholder="Ingresa tu contraseña" name="pswd">
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label">Repetir Contraseña</label>
                    <input type="password" class="form-control" placeholder="Repite tu contraseña" name="pswd">
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="pwd" class="form-label">Contraseña del Administrador</label>
                <input type="password" class="form-control"  placeholder="Ingresa la contraseña" name="pswd">
            </div>
            <div class="botoni mb-3">
                <button type="submit" class="btn btn-primary add">Agregar</button>
                <button type="reset" class="btn btn-primary add">Cancelar</button>
            </div>
    </div>
    <div class="col-lg-4 sesion">
        <h1><img src="./assets/medios/Logo.png" alt="DivinaCafetería"></h1>
        <h1>Iniciar Sesión</h1>
            {{ error | json}}
            <div class="mb-3 mt-3">
                <label for="user" class="form-label">Usuario</label>
                <input type="password" class="form-control" id="user" placeholder="Ingresa tu usuario"  [(ngModel)]="email" name="email">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pwd" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password">
            </div>
            <div class="botoni mb-3">
                <button type="submit" class="btn btn-primary inn" (click)="login()">Ingresar</button>
            </div>
    </div>
</div>