<div class="row principal">
    <div class="col-lg-7 recetas">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Productos</h2>
                </div>
            </div>
            <div class="row holi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Cantidad General</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Cantidad Disponible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-primary btt">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ingredientes holi2">
        <div class="latabla">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="latabla">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No. Artículos</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary btt">Pedir</button>                
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary btt">Cancelar</button>
            </div>
        </div>
    </div>
</div>