<div class="row principal">
    <div class="col-lg-7 recetas">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Ingredientes</h2>
                </div>
            </div>
            <div class="row holi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Cantidad General</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Cantidad Disponible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listProductos">
                            <td>{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.porcion}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.tipoIngrediente}}</td>
                            <td>{{producto.unidadTotal}}</td>
                            <td><button class="btn btn-primary btt" (click)="selectIngrediente(producto)">Agregar</button></td>
                            
                            <!-- <td><</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ingredientes holi2">
        <h2 class="">Editar</h2>
        <div class="latabla">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="form.nombre"  placeholder="" name="nombre">
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Unidad disponible</label>
                    <input type="text" class="form-control"  [(ngModel)]="form.unidadTotal" placeholder="" name="unidadTotal">
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Porcion</label>
                    <input type="text" class="form-control"  [(ngModel)]="form.porcion" placeholder="" name="porcion">
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Precio</label>
                    <input type="text" class="form-control"  [(ngModel)]="form.precio" placeholder="" name="precio">
                </div>
            </div>       
        </div>
        <!-- <div class="latabla">
          
        </div> -->
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary btt" (click)="handleUpdate()">Pedir</button>                
            </div>
          
        </div>
    </div>
</div>