<div class="row principal">
    <div class="col-lg-7 recetas">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mt-1">Ventas</h2>
                </div>
            </div>
            <div class="row holi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Productos</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Costo Total</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of listaVentas">

                            <td>{{venta._id}}</td>
                            <td>{{venta.total}}</td>
                            <td><pre>{{venta.productos | json}} </pre></td>
                                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ingredientes holi2">
        <div class="latabla" [style.display]="displayVer">
            <div>
                <div class="latabla">
                    <h5>Ver Venta</h5>
                    <hr>
                    <p><b>Id:</b> []</p>
                    <p><b>Usuario:</b> []</p>
                    <p><b>Productos:</b> []</p>
                    <p><b>Cantidad:</b> []</p>
                    <p><b>Precio Unitario:</b> []</p>
                    <p><b>Costo Total:</b> []</p>
                    <p><b>Fecha:</b> []</p>
                    <p><b>Acciones:</b> []</p>
                </div>
            </div>
        </div>
    </div>
</div>