<div class="row principal">
    <div class="col-lg-12 recetas">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mt-1">Ventas</h2>
                </div>
            </div>
            <div class="row holi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Productos</th>
                            <th>Costo Total</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of listaVentas">

                            <td>{{venta._id}}</td>
                            <td>{{venta.total}}</td>
                            <td> 
                                <ul *ngFor="let prod of venta.productos">
                                    <li>Nombre: {{prod.nombre}}</li>
                                    <li>Precio: {{prod.precio}}</li>
                                    <li>Tipo: {{prod.tipo}}</li>
                                </ul> 
                            </td>
                            <td>{{venta.fecha | date: 'dd/MM/yyyy'}}</td>
                                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-5 ingredientes holi2">
        <div class="latabla" [style.display]="displayVer">
            <div>
                <div class="latabla">
                    <h5>Ver Venta</h5>
                    <hr>
                    <p><b>Id:</b> []</p>
                    <p><b>Usuario:</b> []</p>
                    <p><b>Productos:</b> []</p>
                    <p><b>Cantidad:</b> []</p>
                    <p><b>Precio Unitario:</b> []</p>
                    <p><b>Costo Total:</b> []</p>
                    <p><b>Fecha:</b> []</p>
                    <p><b>Acciones:</b> []</p>
                </div>
            </div>
        </div>
    </div> -->
</div>