<div class="row principal">
    <div class="col-lg-7 recetas">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Usuarios</h2>
                </div>
            </div>
            <div class="row holi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listProductos">
                            <td>{{producto._id}}</td>
                            <td>{{producto.name}}</td>
                            <td>{{producto.email}}</td>                            
                            <td><button class="btn btn-primary btt" (click)="selectIngrediente(producto)">Seleccionar</button></td>
                            
                            <!-- <td><</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ingredientes holi2">
        <h2 class="">Editar</h2>
        <div class="latabla">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="form.name"  placeholder="" name="nombre">
                </div>
                <div class="col-lg-6 mb-3">
                    <label for="pwd" class="form-label text-black">Correo</label>
                    <input type="text" class="form-control"  [(ngModel)]="form.email" placeholder="" name="unidadTotal">
                </div>

            </div>       
        </div>
        <!-- <div class="latabla">
          
        </div> -->
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary btt" (click)="handleUpdate()">Pedir</button>                
            </div>
          
        </div>
    </div>
</div>